.white {
  color: #ffffff;

  &-1 {
    color: #e5dfdf;
  }

  &-2 {
    color: #dad6d6;
  }

  &-3 {
    color: #c2bfbf;
  }

}


.bg-color {

  &-black {

    &-1 {
      background-color: var(--color-grey-dark-1);
    }
  }
}